---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post" id="blog">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
<div class="posts" id="releases">
<!--
	{{ site.github.public_repositories[0] | inspect }}
	{% for release in site.github.public_repositories.repository[autorevision].releases limit:5 %}
	## {{ release.name }}
	{{ release.body | markdownify }}
	{% endfor %}
-->
</div>
